<!DOCTYPE html>
<html>
<head>
	<title>My Account</title>
</head>
<body>

	<form method="post" action="/update-account" class="col s12">
		<div class="row">
			<div class="input-field col s6">
				<label for="first_name">First Name</label>
				<input name="first_name" type="text" class="validate" placeholder="<%= @current_user.first_name %>">
 			</div>

			<div class="input-field col s6">
				<label for="last_name">Last Name</label>
				<input name="last_name" type="text" class="validate" placeholder="<%= @current_user.last_name %>">
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<label for="email">Email</label>
				<input name="email" type="email" class="validate" placeholder="<%= @current_user.email %>">
			</div>

			<div class="input-field col s6">
				<label for="password">Password</label>
				<input name="password" type="password" class="validate" placeholder="<%= @current_user.password %>">
			</div>
		</div>

	  <button class="btn waves-effect waves-light" type="submit">Update Account</button>
	</form>

	<form method="post" action="/delete-account" class="col s12">
	  <button class="btn waves-effect waves-light" type="submit">Delete Account</button>
	</form>

</body>
</html>