<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h3>User Names</h3>
	<ul>
		<% @users.each do |user| %>
			<li><%= user.first_name + " " + user.last_name %></li> 
		<% end %>
	</ul>
</body>
</html>