<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>

	<h4>Users</h4>
	<ul>
		<% @users.each do |user| %>
			<li><%= user.first_name + " " + user.last_name %></li> 
		<% end %>
	</ul>
  
</body>
</html>