<!DOCTYPE html>
<html>
	<head>
		<title>Micro-Blogging App</title>
	</head>
	<body>
		<div class="row">

			<form method="post" action="/sign-in" class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<label for="email">Email</label>
						<input name="email" type="email" class="validate">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="password">Password</label>
						<input name="password" type="password" class="validate">
					</div>
				</div>

			  <button class="btn waves-effect waves-light" type="submit">Login</button>
			</form>

			<form action="/sign_up">
				<button class="btn waves-effect waves-light" type="">Sign Up</button>
			</form>
			
		</div>
	</body>
</html>