<!DOCTYPE html>
<html>
<head>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<% unless request.url == "http://localhost:4567/" %>
	<div class="navbar-fixed">
		<nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Micro-Blog</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		      	<li><a href="/home">Home</a></li>
		        <li><a href="/profile">Profile</a></li>
		        <li><a href="/account-settings">My Account</a></li>
		        <li><a href="/sign-out">Sign-Out</a></li>
		      </ul>
		    </div>
	  	</nav>
	</div>
  <% end %>

		<%= yield %>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>